<div class="row">
  <% if notice %>
      <div data-alert class="alert-box success radius">
        <%= notice %>
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>

  <% if alert %>
      <div data-alert class="alert-box warning round">
        <%= alert %>
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>
</div>