/*

RATING css

*/
.rating {
  overflow: hidden;
  display: inline-block;
  margin-bottom: 30px;
}
.rating-input {
  position: absolute;
  left: 0;
  top: -50px;
}

.rating-star {
  float: right;
  display: block;
  width: 21px;
  height: 20px;
  margin-right: 13px;
  background: url('new/star-off.png');
}
.rating-star:hover,
.rating:hover .rating-star:hover ~ ,
.rating-input:checked ~ .rating-star,
.rating-star:hover,
.rating-star:hover ~ .rating-star {
  background: url('new/star-on.png');
}
/*

END RATING css

*/



li{
  display: inline;
}


.agent-info{
  font-size: 27px;
  display: inline;
}

h3{
  display: inline;
  /*max-width: 70%*/
}

.textarea{
  margin-bottom: 20px
}

.textarea textarea{
  width: 100%;
  border: 1px solid #cccccc;
  padding: 10px;
  overflow-y: auto;
}

.rating-form{
  margin: 60px 0px 0px 50px;
  width: 400px;
  color: #797F81;
  font-family: "Istok Web", Arial, sans-serif;
}

#logo{
  float: left;
  width: 180px;
}

.rating-form #language-bar{
  float:right;
}

.rating-form #language-bar li{
  margin-left: 8px;
  font-size: 15px;
}
.rating-form #language-bar a {
  color: #797f81;
  text-decoration: none;
  line-height: inherit;
}

.rating-form #language-bar a:hover{
  color: #f14e3c;
}

.rating-form #language-bar li.selected a{
  color: #f14e3c;
}

.rating-form hr{
  color: #dddddd;
  background-color: #dddddd;
  border: 0.5px solid #dddddd;
}

#top-panel{
  height: 50px;
  margin: 0px 0px 30px 0px;
}

#main-row{
  margin: 20px 0px 70px 0px;
}

.rating-form h2,
.rating-form h3{
  font-size: 1.4em;
}

.rating-form #evaluate-agent,
.rating-form #footer{
  font-size: 1em;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
}

.rating-form #evaluate-agent #evaluate-agent-name{
  font-size: 24px;
}


.rating-form #submit-button {
  background-color: #f14e3c;
  padding: 0.5em 2em 0.5em 2em;
  width:auto;
  overflow:visible;
  color: #ffffff;
  border-color: #dddddd;
  border-width: 2px;

}
.rating-form #submit-button:focus,
.rating-form #submit-button:hover  {
    background-color: #F86A5A;
}