table.tablesorter thead tr .header {
  background-image: url('blue/bg.gif');
  background-repeat: no-repeat;
  background-position: center left;
  cursor: pointer;
  padding-left: 20px;
}

table.tablesorter thead tr .headerSortUp {
  background-image: url('blue/asc.gif');
}
table.tablesorter thead tr .headerSortDown {
  background-image: url('blue/desc.gif');
}
